@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body:not([data-theme]),
  [data-theme='light'] {
    --color-bg: white;
    --color-text: #111827;
  }
  [data-theme='dark'] {
    --color-bg: #111827;
    --color-text: #f3f4f6;
  }
  * {
    color: var(--color-text);
  }
  body {
    background-color: var(--color-bg);
  }
}
